<div class="list-inset">

    <div class="item item-avatar">
        <img class="brand_logo" ng-if="shopping.brand == 'BWS'" src="img/logo_bws.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Coles'" src="img/logo_coles.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'DavidJoins'" src="img/logo_davidjones.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Drakes'" src="img/logo_drakes.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'IGA'" src="img/logo_iga.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Liquor'" src="img/logo_liquor.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Market'" src="img/logo_market.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Myer'" src="img/logo_myer.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'WoolWorths'" src="img/logo_woolworths.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Mall'" src="img/logo_mall.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Others'" src="img/logo_others.jpeg">
        <div class = "row">
            <div class = "col-66">
                <h2>{{shopping.date}}</h2>
                <p>{{shopping.location}}</p>
            </div>
            <div class = "col-33">
                <span class="shopping_amount"> ${{shopping.amount}} </span>
            </div>
        </div>
    </div>

    <div class="item item-image">
        <img class="receipt_img" ng-src="shopping.receipt">
    </div>

    <div class="item item-icon-left assertive">
        <i class="icon ion-ios7-paper"></i>
        Detail List
        <ion-list>
            <ion-item ng-repeat="item in shopping.items">{{item}}</ion-item>
        </ion-list>
    </div>

</div>