<div class="list card">

    <div class="item item-avatar">
        <img class="brand_logo" ng-if="shopping.brand == 'BWS'" src="img/logo_bws.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Coles'" src="img/logo_coles.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'DavidJoins'" src="img/logo_davidjones.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Drakes'" src="img/logo_drakes.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'IGA'" src="img/logo_iga.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Liquor'" src="img/logo_liquor.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Market'" src="img/logo_market.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Myer'" src="img/logo_myer.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'WoolWorths'" src="img/logo_woolworths.jpeg">
        <img class="brand_logo" ng-if="shopping.brand == 'Others'" src="img/logo_others.jpeg">
        <div class = "row">
            <div class = "col-66">
                <h2>{{shopping.date}}</h2>
                <p>{{shopping.location}}</p>
            </div>
            <div class = "col-33">
                <span> ${{shopping.amount}} </span>
            </div>
        </div>
    </div>

    <div class="item item-image">
        <img class="receipt_img" src="img/ionic.png">
    </div>

    <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios7-paper"></i>
         Detail List
    </a>

</div>