<ion-view title="Wish List">
    <ion-nav-buttons side="right">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios7-minus" ng-click="deleteWishes()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios7-plus" ng-click="goAddWish()"></button>
        </ion-nav-buttons>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <!--ion-list show-delete="data.showDelete"-->
            <ion-checkbox ng-repeat="wish in wish_list track by $index" 
                          ng-model="wish.checked" ng-checked="wish.checked" class="checkbox-assertive">
                {{wish.title}}
                <!--ion-option-button class="ion-minus-circled right"  ng-click="onItemDelete(wish)">
                </ion-option-button>
                <ion-reorder-button class="ion-navicon right" on-reorder="moveItem(wish, $fromIndex, $toIndex)"></ion-reorder-button-->
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>
