/* Empty. Add your own CSS if you like */
.brand_logo {
    height: 100px;
    width: 100px;
    margin-top: 8px;
}

.receipt_img {
    height: 256px;
    width: 256px;
}

.shopping_amount {
    font-size: 40px;
    text-align: right;
    text-decoration-style: dotted;
    position: relative;
    top: 8px;
    display: block;
}

.input-right {
    text-align: right;
}

.listed_item {
    color: black;
}